<form action="http://localhost:8080/api/addNewBet" method="POST">
  teamOne:<br>
  <input type="text" name="teamOne" required><br>
  teamTwo:<br>
  <input type="text" name="teamTwo" required><br>
  photoOneURL:<br>
  <input type="text" name="photoOneURL" required><br>
  photoTwoURL:<br>
  <input type="text" name="photoTwoURL" required><br>
  vendor:<br>
  <input type="text" name="vendor" required><br>
  vendorPhotoURL:<br>
  <input type="text" name="vendorPhoto" required><br>
  odds:<br>
  <input type="text" name="odds" required><br>
  percentage:<br>
  <input type="text" name="percentage" required><br>
  product:<br>
  <input type="text" name="product" required><br>
  <br>
  <input type="submit" value="Submit">
</form>
